{% extends 'index.html' %}

{% block content %}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
<div class="row align-items-center">
    <div class="col">
        
  <div class="container">
		
	
</div>
        <div class="mt-2">     
            <h1 class="card-title float-left mt-2">Add Disease</h1> 
          
        </div>
    </div>
</div>
<hr>

<div class="container">
		
	{% if messages %}
		{% for message in messages %}
        <div class="alert alert-success" role="alert">
            <i class="fa fa-check"></i>	
		   {{ message}}
        </div>
		{% endfor %}
	{% endif %}
</div>
<br>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <label for="name"><h4>Select Category</h4></label> <br><br>
    <select name="category" required id="id_patientid" class="form-control">
        <option selected disabled="true" name="Selectbranch" default="">Select Category</option>
        {% for d in data %}
        <option  value="{{ d.pk }}">{{ d.category}} </option>    
        {% endfor %}    
    </select> -->
    <label for="diagnose1"><h4>Disease</h4></label><br>
    <input type="text" class="form-control" placeholder="Mention Name of the Disease to be added"  name="disease">

    <!-- <label for="name"><h4>Disease</h4></label> <br>
    <textarea id="question" name="question" ></textarea> -->
    
    <br><br><br>
    <button type="submit" class=" form-control btn btn-success" >Submit</button>
</form>
<br>
<br>
<br>
  
   
</div></div></div>
<br><br><br><br>



















{% endblock %}