{% extends 'index.html' %}


{% block content %}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
<div class="row align-items-center">
    <div class="col">
        <br>
<br>
  <div class="container">
		
	
</div>
        <div class="mt-2">     
            <h1 class="card-title float-left mt-2">PAST HISTORY</h1> 
        </div>
    </div>
</div>
<hr>
<br>
<br>
{% if data == '' %}
    
    
        <h3>End of questions</h3>
        <br><br><br>
        <!-- <a href="{% url 'personal_appetite' id=49 case_id=case_id %}" class="btn btn-primary btn-lg">Personal Appetite</a> -->
        <a href="{% url 'newcase' %}" class="btn btn-primary btn-lg">HOME</a>

        {% else %}

<h3>Q. {{data.question}}</h3>
<br>

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}            
       
        <div>
                <input style="margin-inline-start: 10px;" type="radio" id="show" name="question" value="show" />
                <label  for="hide">Yes</label>
            
                <input style="margin-inline-start: 10px;" type="radio" id="hide" name="question" value="hide" checked />                
                <label for="show">No</label>
                
        </div>    
        

        <div id="box">

            <p>Last Diagnosed </p>
            <input type="text" id="id_email1" maxlength="75" class="required"  value="{{data.last_diagnose}}" name="diagnose" placeholder="e.g 3 Months">
            
            <br><br>
            <p>Duration</p>
            <input type="text" id="id_email1" maxlength="75" class="required" value="{{data.duration}}" name="duration" placeholder="e.g 2 Weeks">
            
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
          
       
            <button type="submit" class="btn btn-success float-right" value='True'>Next Question</button>

    </form>
    {% endif %}
<br>
<br>
<br>


       
</div></div></div>
<br><br><br><br>


















{% endblock %}