{% load static %}
{% load jsignature_filters %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />   
    <link rel="stylesheet" href="{% static 'css/style_new_adjust.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    
    <title>New Case - Final Report PDF</title>
   <style>

    
   .header-past {
      font-family: helvetica;
      color: black;
      font-size: 35px;
      text-align: center;
      width: 100%;
      margin-top: 0px;
      text-shadow: 6px 6px 6px #c9c6c6;
      display: block;
      font-weight: bolder;
  } 
  
  .header-new {
    font-family: helvetica;
    color: black;
    font-size: 25px;
    text-align: left;
    width: 100%;
    margin-top: 0px;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
    text-decoration:underline;
} 
.table-pdf {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 10px;
  border: 1px solid grey;
}

/* Table cells and spacing */
.table-pdf th,
.table-pdf td {
  padding: 2px;
  border-bottom: 1px solid black;
  width:200px;
}

/* Table headers */
.table-pdf th {
  background-color: #f2f2f2; /* Light gray background for headers */
  font-weight: bold;
  text-align: left;
}

/* Alternating row colors */
.table-pdf tr:nth-child(even) {
  background-color: #f9f9f9; /* Lighter gray for even rows */
}

    

    
     
  

  @media (max-width: 768px){
      
    .header-past {
      font-family: helvetica;
      color: black;
      font-size: 30px;
      text-align: center;
      width: 100%;
      margin-top: 16px;
      text-shadow: 6px 6px 6px #c9c6c6;
      display: block;
      font-weight: bolder;        
  }  

  .header-new {
    font-family: helvetica;
    color: black;
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin-top: 0px;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
    text-decoration:underline;
}  
  
}  

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">

  </head>

  <body>       
    <main role="main" class="container">
      <img style="width:1000px;" src="./dashboard/document/header_pdf.jpg" />

        
        <div class="jumbotron">
           
          <table class="table-one" style ="margin-top:20px;">     
            <tr>
               
                
                <td style="text-align:left; font-size:14px; width:200px;"><b> Case Paper No :</b> &nbsp;{{ patient_details.case }}</td>
                
                
                <td></td>
                <td></td>
                <td style="text-align:left;font-size:14px;"><b>Date :</b>&nbsp;{{table1.0.date|date:"d/m/y"}}</td>
                
                
            </tr>   
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      
            </tr>     
            
            <tr style="margin-top:20px;">
                <td style="text-align:left;font-size:14px;"><b>Name :</b>&nbsp;&nbsp; {{ patient_details.name }}</td>
                
                <td style="text-align:left;font-size:14px;"><b>Age :</b>&nbsp;&nbsp; {{ patient_details.age}} Yrs</td>
               
                <td style="text-align:left;font-size:14px;"><b>Gender :</b>&nbsp;&nbsp; {{ patient_details.gender }}</td>
                {% if patient_details.height %}
                <td  style="text-align:left;font-size:14px;"><b>Height :</b>&nbsp;&nbsp; {{patient_details.height}}  </td>
                {% else %}
                <td></td>
                {% endif %}
                <td  style="text-align:left;font-size:14px;"><b>Weight :</b>&nbsp;&nbsp; {% if patient_details.weight %}
                  {{patient_details.weight}} Kgs
      
                  {% else %}
                      -
                  {% endif %}
                
                
                </td>
                
                
            </tr>
            <tr style="margin-top:20px;">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      
            </tr>  
            
            <tr style="margin-top:20px;" >
              <td style="text-align:left;font-size:14px;"><b>Address :</b>&nbsp; {{patient_details.address}}</td>
              <td></td>
              <td style="text-align:left;font-size:14px;"><b>Contact Number :</b> {{patient_details.phone}}</td>
            </td></td>
            <td></td>
      
      
            </tr>
      
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      
            </tr>  
      
            <tr style="margin-top:20px;">
              <td style="text-align:left;font-size:14px;"><b>Email :</b>&nbsp;&nbsp; {% if patient_details.email %} {{patient_details.email}} {% else %} - {% endif %}</td>
              <td style="text-align:left;font-size:14px;"><b>Qualification :</b> &nbsp;&nbsp;{% if patient_details.qualification %} {{patient_details.qualification}} {% else %} - {% endif %} </td>
              
              <td style="text-align:left;font-size:14px;"><b>Occupation :</b>&nbsp;&nbsp;{% if patient_details.occupation%} {{patient_details.occupation}} {% else %} - {% endif %}</td>
              <td></td>
              <td></td>
      
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      
            </tr>  
      
            <tr style="margin-top:20px;">
              <td style="text-align:left;font-size:14px;"><b>Dietry Preference :</b>{% if patient_details.dietry_preference %} &nbsp;&nbsp;{{patient_details.dietry_preference}} {% else %} - {% endif %}</td>
              <td></td>
              <td style="text-align:left;font-size:14px;"><b>Marital Status :</b>&nbsp;&nbsp; {% if patient_details.marital_status %} {{ patient_details.marital_status }} {% else %} - {% endif %}</td>
              <td></td>
              <td></td>
      
            </tr> 
            
            <tr style="margin-top:20px;">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      
            </tr>
      
            <tr style="margin-top:20px;">
              <td style="text-align:left;font-size:14px;"><b>Referred by :</b> {% if patient_details.referred_by %} &nbsp; {{patient_details.referred_by}} {% else %} - {% endif %}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      
            </tr>
      
           
       
      </table>
           
        </div>
        <hr style="border: 0.3px solid black;">
        <br>
           <div class="jumbotron" >

       
        <div class="header-past">New Case - Final Report</div>      
        
        <br>
        <br><br>
        <div class="header-new">Health Assessment</div>

        <div class="table-responsive">
          <table class="table-pdf" >
            <thead>
              <tr>
                
                <th style="font-size:17px;">Assessment Date</th>
                <th style="font-size:17px;">Blood Pressure</th>                                               
                <th style="font-size:17px;">Weight</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for h in health %}
              <tr>
                <td style="font-size: 16px;">{{h.date|date:"d-M-Y"}}</td>
                <td style="font-size: 16px;">{{h.bp}} mmHg</td>
                <td style="font-size: 16px;">{{h.weight}} Kgs.</td>
                <td></td>
                
              </tr>
              {% endfor %}
            </tbody>
  
          </table>
        </div>

        <br>
        {% if len_present_complaint != 0 %}
        <div class="header-new">Present Complaints</div>
        
        <div class="table-responsive">
            <table class="table-pdf" >
              <thead>
                <tr>
                  
                  <th style="font-size:17px;">Complain</th>
                  <th style="font-size:17px;">Date</th>
                  <th style="font-size:17px;">Duration</th>
                                                 
                  <th style="font-size:17px;">Remarks</th>
                </tr>
              </thead>
              <tbody>
                {% for t in table1 %}
                <tr>                            
                          <td style="font-size:16px;">{{t.complain.name}}</td>
                          <td style="font-size:16px;">{{t.date|date:"d-m-y"}}</td>
                          <td style="font-size:16px;">{{t.duration}} {{t.duration_suffix}}</td>
                                                                               
                          <td style="font-size:16px;">{% if t.remarks %} {{t.remarks}} {% else %} <b><i class="fa-solid fa-dash"></i><b> {% endif %}</td>
    
                </tr>
                {% endfor %}
              </tbody>
    
            </table>
          </div>
          {% endif %}
        
       
       
        {% if len_obj_chief_complaints != 0 %}
        <br><br>
        <div class="header-new">Chief Complaints</div>
       
        
        {% for o in table2 %}
              <dd>
                  <div class="container text-center" id="border">
                    <div class="row justify-content-center">
                     <div class="border" style="background:white;">
                  <p style="font-size: 20px;">Date : {{o.signature_date|date:"d M Y"}} </p> 
                  
                  <img src="{{ o.signature|signature_base64 }}" alt="{{ table2 }}" />
                  <hr>   
                            <p style="font-size:12px;"><b>{{forloop.counter}}.</b></p>
                 
                     </div></div></div>           
                  
                </dd>
                {% endfor %}

        {% endif %} 
        
        
        {% if len_past_history != 0 %}
        <br><br>
        <div class="header-new">Past History</div>
       
        
        
        <table class="table-pdf">
            <tr style="font-size:17px;" >
                <th>Complain</th>
                <th>Last Diagnosed</th> 
                <th >Duration</th>                                
                <th>Remarks</th>
            </tr>
            {% for t in table3 %}
            <tr  >

               <td  style="font-size:16px;" >{{t.complain.name}}</td>
               <td  style="font-size:16px;">{{t.last_diagnosed}} {{t.last_suffix}}</td>
               <td  style="font-size:16px;">{{t.duration}} {{t.duration_suffix}}</td>                                
               <td  style="font-size:16px;">{{t.remarks}}</td>
                
            </tr>
            {% endfor %}
       </table>
      

        {% endif %}


        {% if len_personal_history != 0 %}

        <br><br><br><br><br><br>
        <div class="header-new">Personal History</div>
        
        
        {% for o in personal_history %}
              <dd>
                  <div class="container text-center" id="border">
                    <div class="row justify-content-center">
                     <div class="border" style="background:white;">
                  <p style="font-size: 20px;">Date : {{o.signature_date|date:"d M Y"}} </p> <hr>
                  
                  <img src="{{ o.signature|signature_base64 }}" alt="{{ table2 }}" />
                  <hr>   
                            <p style="font-size:12px;"><b>{{forloop.counter}}.</b></p>
                 
                     </div></div></div>           
                  
                </dd>
                {% endfor %}

        {% endif %}


        {% if len_family_medical != 0  %}
        <br><br>
        <div class="header-new">Family Medical History</div><hr>

        

            <table class='table-pdf'>
                <tr style="font-size:17px;">              
                   <th >Relation</th>
                   <th>Age</th>
                    <th>Diseases</th>   
                    <th>Any Other</th>                             
                    <th>Dead/Alive</th>                 
                </tr>
                {% for item1,item2 in list %}
                <tr >
                    <td style="font-size:16px;"  >{{item1.relation}}</td> 
                    <td style="font-size:16px;" >{{item1.age}} Years</td>                                                           
                    <td style="font-size:16px;" >{{item2}}</td>
                    <td style="font-size:16px;" >{{item1.any_other}}</td>                                 
                    <td style="font-size:16px;" >{{item1.dead_alive}}</td>                    
                </tr>
                {% endfor %}         
             </table>
        
        {% endif %}


        {% if len_my_list1 != 0 %}
        <br><br>
        <div class="header-new">Mental Causative Factor</div>
        <div class="table-responsive">

            <table class='table-pdf'>
                <tr style="height:40px; font-size:17px;">              
                    <th>Factors</th>                                 
                 </tr>
                 {% for m in my_list1 %}
                 <tr style="font-size:16px;">
                    <td>{{m}}</td>
                 </tr>
                 {% endfor  %}

            </table>

        </div>
        {% endif %}
        <br>
        {% for o in mental %}
                  <dd>
                      <div class="container text-center" id="border">
                        <div class="row justify-content-center">
                         <div class="border" style="background:white;">
                      <p style="font-size: 20px;">Date : {{o.signature_date|date:"d M Y"}} </p> 
                      
                      <img src="{{ o.signature|signature_base64 }}" alt="{{ mental }}" />
                      <hr>   
                      <p style="font-size:12px;"><b>{{forloop.counter}}.</b></p>
           
                     
                         </div></div></div>           
                      
                    </dd>
                    {% endfor %}


                    {% if len_my_list2 != 0 %}
                    <br><br>
                    <div class="header-new">Mental Personality Character</div>
                    <div class="table-responsive">
            
                      <table class='table-pdf'>
                        <tr style="height:40px; font-size:17px;">                     
                                <th>Personality Character</th>                                 
                             </tr>
                             {% for m in my_list2 %}
                             <tr style="font-size:16px;">
                                <td>{{m}}</td>
                             </tr>
                             {% endfor  %}
            
                        </table>
            
                    </div>
                    {% endif %}
                    <br>
                    {% for o in personality %}
                              <dd>
                                  <div class="container text-center" id="border">
                                    <div class="row justify-content-center">
                                     <div class="border" style="background:white;">
                                  <p style="font-size: 20px;">Date : {{o.signature_date|date:"d M Y"}} </p> 
                                  
                                  <img src="{{ o.signature|signature_base64 }}" alt="{{ mental }}" />
                                  <hr>   
                                  <p style="font-size:12px;"><b>{{forloop.counter}}.</b></p>
                       
                                 
                                     </div></div></div>           
                                  
                                </dd>
                                {% endfor %}


        {% if len_bms != 0 %}
        <br><br>

        <div class="header-new">Brief Mind Symptoms</div>
        {% for o in bms_view %}
                              <dd>
                                  <div class="container text-center" id="border">
                                    <div class="row justify-content-center">
                                     <div class="border" style="background:white;">
                                  <p style="font-size: 20px;">Date : {{o.signature_date|date:"d M Y"}} </p> 
                                  
                                  <img src="{{ o.signature|signature_base64 }}" alt="{{ mental }}" />
                                  <hr>   
                                  <p style="font-size:12px;"><b>{{forloop.counter}}.</b></p>
                       
                                 
                                     </div></div></div>           
                                  
                                </dd>
                                {% endfor %}




        {% endif %}


        {% if len_thermal_reaction != 0 %}
        <br><br>
        <div class="header-new">Thermal Reaction</div>
       

            <table class='table-pdf'>
                <tr style="height:40px;">               
                    <th></th>                                 
                 </tr>
                 {% for m in my_list4 %}
                 <tr style="font-size:16px;">
                    <td>{{m}}</td>
                 </tr>
                 {% endfor  %}

            </table>

     



        {% endif %}


        {% if len_miasm != 0 %}
        <br><br>
        <div class="header-new">Miasm Examination</div>
       

            <table class='table-pdf'>
                <tr style="height:40px;">              
                    <th></th>                                 
                 </tr>
                 {% for m in my_list3 %}
                 <tr style="font-size:16px;">
                    <td>{{m}}</td>
                 </tr>
                 {% endfor  %}

            </table>





        {% endif %}






      
    </div> 
    
  </main>
   
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
  {{ form.media }}
  </body>
</html>