{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- {{ form.media }} -->
    <style type="text/css">
		.card-body{
			text-align: center;
		}
		.card{
			height: 200px;
		}
		button{
      width: 100%;
        } 
        body {
    background: url("/static/images/home_img.jpg") 10% 0 no-repeat fixed;
    background-size: 100%;
    }  
    select{
			height:40px;
            width: 585px!important;
			border-radius: 5px!important;
		}
    .th{
            border: 2px solid lightblue;
                        border-collapse: collapse;
        }
        .column2 {
	    border-right:2px solid lightblue;
	      padding:5px 10px;
      }

        table{          
                        border-spacing: 1;
                        border: 8px solid lightblue;
                        border-collapse: collapse;
                        
                        }
        .border-right {
                    border-right: 1px solid black;
        }
        div.ex3 {
        background-color: whitesmoke;
        width: 110px;
        height: 500px;
        overflow: auto;
        }
        tfoot{
            border-top: 1px solid black;
        }
        #border {
    position: relative;
    text-align: center;
    /* margin-top: 50px!important; */
    border: 1px solid black;
    }
    .box {
      width: 300px;
      height: 110px;
      border: 1px solid white;
      padding: 10px;
      margin: 10px;
      display: flex;
      column-gap: 50px;
      border-radius: 25px;
    }
    .box1{
      height: 100px;
      width:100px;
      
    }
    .box2{
      height: 100px;
      width:500px;
      
    }
    img{
      border-radius: 58%;
  }
    
	</style>

</head>

  <body>

    {% include "nav.html" %}

    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light col-lg-12 col-12 p-0">
        <!-- <a class="navbar-brand" href="#" style="margin-left: 40px;">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

                                                <!-- Homeo Bhagwat Gita  -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="margin-left: 80px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Homeo Bhagavad Gita
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'quote' %}">Causative Factors </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'Gnm_Sbs_Conflicts' %}"> Organs and Conflicts </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'book' %}"> Medicine Essence</a>
                </div>
              </li>

                                                    <!-- New CASE  -->
            <li class="nav-item active">
              <a class="nav-link"  href="{% url 'newcase' %}" style="margin-left: 20px;">New Case <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link btn btn-success" style="color: antiquewhite; margin-left: 20px;" href="{% url 'new_case_one' %}" style="margin-left: 30px;">New Case <span class="sr-only">(current)</span></a>
            </li>

                                                       <!-- Medicine -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="margin-left: 20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Medicine
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'allroom' %}">All Medicine </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'addmedicine' %}"> Add Medicine</a>                
              </li>



                                                <!-- STAFF  -->

             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="margin-left: 20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Staff
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'allstaff' %}">All Staff</a>                
              </div>
            </li>

                            <!-- CERTIFICATE  -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="margin-left: 20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Certificate
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"  href="{% url 'addpatient' %}">Bill Invoice</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'previous_issued_invoice' %}">Previous Issued Invoices</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'addcertificate' %}">Other Certificates</a></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'previous_issued_certificate' %}">Previous Issued Certificates</a>               
               </div>
            </li>

                                <!-- PRICING -->
            
            <li class="nav-item">
              <a class="nav-link" style="margin-left: 20px;" href="{% url 'pricing' %}">Doctor Fees</a>
            </li>

                                     <!-- COLLECTION  -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="margin-left: 20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Today's Collections
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'dombivali_collection' %}"> Dombivali Branch </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'mulund_collection' %}"> Mulund Branch</a>              
                </div>
            </li>

                            <!-- DIAGNOSIS HISTORY  -->

            <li class="nav-item">
              <a class="nav-link" style="margin-left: 20px;" href="{% url 'diagnosis_history' %}">Diagnosis History</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

   <div class="container" style="margin-top: 30px;">
    <div class="mt-2">     
        <!-- <h1 class="card-title float-left mt-2" style="color: antiquewhite;" >NEW CASE</h1>  -->
       
        <!-- <a href = "{% url 'addquestion' %}" class="btn btn-primary btn-lg" style="margin-left: 600px;">Add Question</a> -->
    </div>
    <div class="container" style="margin-top: 10px;">
		
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <i class="fa fa-check"></i>	
               {{ message}}
            </div>
            {% endfor %}
        {% endif %}
       
    </div>
      
       

       <div class="container">
        <h1 style="margin-top: 20px; color: antiquewhite;">Update Thermal Reaction History</h1>
        <!-- <a href="{% url 'familymedical' %}" class="btn btn-primary">Family Medical</a> -->
        <hr> 
        <div class="box">
          <div class="box1">
            {% if patient_details.patient.patient_images %}
            <img src="{{patient_details.patient.patient_images.url}}" alt="Avatar" width="70" height="90" border="5">
            
    
              {% else %}
              <p style="background-color:white; text-align:center;"><b>Photo Not Uploaded</b></p>
              {% endif %}
          </div>
          <div class="box2" style="color:white; font-size:20px">
           <h5> {{patient_details.patient.name}}</h5>
           <hr style="background-color:white;">
           <h5> {{patient_details.patient.case}}</h5>
            
          </div>
        </div>     
      
        <table class="" >
            <thead style="height: 50px;">
              <tr class = "bg-primary" >        
                  <th style="color:antiquewhite; text-align: center;  font-size: 20px;" scope="col">Update Thermal Reaction History <p style="margin-top: 10px; margin-left: 700px;"><a href="{% url 'thermal_view' case_id=case_id %}" class="btn btn-danger btn-lg">Go Back</a></p></th>
                  <!-- <th style="color:antiquewhite; text-align: center;  font-size: 20px;" scope="col">Recent...</th>                   -->
              </tr>
          </thead>
          <tbody>
              <tr class = "table-light">
                <td class="border-right" style="width: 80px">
                    <div style="width: 1000px;">
                        <form action="{% url 'chief_complaint_update' pk=id %}" method="post">
   
                            
                            <div class="container text-center" id="border">
                             <div class="row justify-content-center">
                              <div class="border">
                             
                             {{ form.signature }}
                             {{ form.category}}
                             {{ form.patient }}
                             
                           </div>
                          </div>
                        </div>
                             <br>
                             <br>
                             <input style="margin-left: 425px;" type="submit" value="+ Update" class="btn btn-primary btn-lg" />
                             
                            
                           
                             {% csrf_token %}
                           </form> 
                          <br>   
                    </div>  
                </td>  
                
                <!-- <td>
                    <div class="ex3" style="width: 300px; font-size: 20px;">
                 
                    {% for d in data %}
                    <a href="{% url 'complain' case_id=case_id id=d.id %}" style="margin-top: 4px; margin-left: 35px; text-decoration:none; font-size: 18px;">{{d.name}}<hr style="margin-top: 1px; margin-bottom: 1px;"></a>
                   
                        {% endfor %}
                    </div>
                </td> -->
                  
              </tr>
          </tbody> 
                   
          <tfoot>
            <tr class="table-light">                
            </tr>
          </tfoot>
          </table>
          
          <br><br>
          <!-- <div class="container" style="margin-top: 20px;">
              <h1 style="margin-top: 20px; color: antiquewhite;">Present Complaints</h1>
              <hr>
              <table>
                   <tr class="bg-dark" style="height: 40px;" >
                       <th  class="th" style=" width: 300px; text-align: center; color: antiquewhite;">Complain</th>
                       <th  class="th" style=" width: 300px; text-align: center; color: antiquewhite;">Duration</th>                                
                       <th  class="th" style=" width: 300px; text-align: center; color: antiquewhite;">Remarks</th>
                   </tr>
                   {% for t in table %}
                   <tr style="height: 50px;" class="table-light">
                       
                       <td  class="td" style="text-align: center;">{{t.complain.name}}</td>
                       <td  class="td" style="text-align: center;">{{t.duration}} {{t.duration_suffix}}</td>                                
                       <td  class="td" style="text-align: center;">{{t.remarks}}</td>
                       
                   </tr>
                   {% endfor %}
              </table> -->
          <br><br>
        </div>       
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>	
    <script>
        $(document).ready(function () {
            $('#id_patientid').select2();
    
        });
    </script>
    
    {{ form.media }}
   
  
</body>
</html>