/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 



body {
  background: url("/static/images/home_img.jpg") 10% 0 no-repeat fixed;
  background-size: 100%;
  
 
  
  }

  .scrolling-div-one{
    font-size: 16px;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
  
  }
  
  .scrolling-div-one::-webkit-scrollbar{
    width: .8rem;
  }
  
  .scrolling-div-one::-webkit-scrollbar-track{
    background: transparent;
  }
  
  .scrolling-div-one::-webkit-scrollbar-thumb{
    background: 	#6495ED;
    border-radius: .5rem;
  }


/*Align the title to the center of the page*/
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #007bff;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}



.display_table{  
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	box-shadow: 10px 12px 20px 6px #2e6da4;
}

.header {
    font-family: helvetica;
    color: #337ab7;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
}

.header-one {
  font-family: helvetica;
  color: #337ab7;
  font-size: 30px;
  text-align: center;
  width: 100%;
  text-shadow: 6px 6px 6px #c9c6c6;
  display: block;
  font-weight: bolder;
}

.success{
  list-style: none;
  background-color: #2e6da4;
  color: white;
  box-shadow: 8px 8px 8px #e61c66;
  text-align: center;
}

.container-new {
  display: flex;  /* Use flexbox to align the divs side by side */
  margin-top: 0px;
}

.left-div{
  width: 50%;  /* Each div takes up 50% of the container width */
  padding: 5px;  /* Add padding for spacing */
  
}

.right-div {
  width: 50%;
  padding: 5px;
  border-left: 1px solid #ccc; /* Add a left border for separation */
  margin-left: 0px;
  margin-right:1px; /* Create spacing between the divs */
}  

form {
    background: #fff; /* Set background color to white */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the form horizontally */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form input[type="text"] {
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 200px;
    margin-right: 10px;
}

form select {
    padding: 5px;
    border-radius: 3px;
    margin-right: 50px;
}

form button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button[type="reset"] {    
    background: #ccc; /* Change the background color of the "Refresh" button */
    color: #333;
}

form input[type="text"],
form select {
    font-size: 16px;
    padding: 15px;
}
label {
  
    font-weight: bold;
    font-size:20px;
    margin-right: 10px;
  }

  .no-results {
    font-size: 30px; /* Adjust the font size as needed */
    color: blue; 
    margin-left: 100px;    /* Change the text color to red */
}

/*
label {
  
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select{
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}



input[type="submit"]:hover {
  background-color: #0056b3;
}
*/

.scrolling-div-one {
  margin-top: 10px;
  max-height: 500px; /* Set the maximum height of the div */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #B8CAE4;
}






