{% extends "basic.html" %}

{% block extra_media %}
  {{ form.media }}
{% endblock %}
<style>
#border {
    position: relative;
    text-align: center;
    margin-top: 300px !important;
    border: 1px solid black;
    }

</style>
{% block content %}

    <br><br><br>

    <h1>Personal History</h1>
    <hr>
    <br><br>
    <h3>Q. {{data.question}}</h3> 
    <br><br>
  <form action="{% url 'Create' %}" method="post">
   
   <br>
   <div class="container text-center" id="border">
    <div class="row justify-content-center">
     <div class="border">
    
    {{ form.signature }}
    {{ form.question}}
    {{ form.patient }}
    <!-- <input type="text" name="patient" value="Raghu Sharma"> -->
  </div></div></div>
    <br>
    <br>
    <input type="submit" value="Next Question" class="btn btn-success float-right" />
    
   
  
    {% csrf_token %}
  </form>
  <br><br><br>
{% endblock %}



