Hi {{courier.patient.name}},


We trust this message finds you in good health.
Thank you for choosing our clinic for your consultation on {{courier.date|date:"d F, Y"}}.

We are pleased to inform you that your prescribed medication has been dispatched and is on its way to your address.
Your Courier details are mentioned below :

Next (Follow-up) : {{next_visit|date:"d F,Y"}}

Case Paper No : {{courier.patient}}

Today's Bill : Rs {{paid|add:balance}}

Paid Amount : Rs {{paid}}

{% if balance > 0 %}
Balance Amount : Rs {{balance}}


Please Pay your Balance Amount of Rs {{balance}}, dated on {{courier.date|date:"d F, Y"}}.
{% elif balance == 0 %}
Balance Amount : Rs {{balance}}
{% else %}
Advance Amount : Rs {{advance}}
{% endif %}



Warm Regards,

Dr. Santosh K. Yadav

Wings Classical Homeopathy

