{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courier Medicine List {{hr_branch}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
   
    <link rel="stylesheet" href="{% static 'css/style_new_adjust.css' %}">
   

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<style>
    
    .header-past {
        font-family: helvetica;
        color: #337ab7;
        font-size: 45px;
        text-align: center;
        width: 100%;
        text-shadow: 6px 6px 6px #c9c6c6;
        display: block;
        font-weight: bolder;
    }
 

    @media (max-width: 768px){
    
      .header-past {
        font-family: helvetica;
        color: #337ab7;
        font-size: 35px;
        text-align: center;
        width: 100%;
        text-shadow: 6px 6px 6px #c9c6c6;
        display: block;
        font-weight: bolder;        
    }     
    
}
    .f-left {
        float: left;
    }
    
    .f-right {
        float: right;
    }      
    
   

</style>
<script>
    function mouseover() {
        document.getElementById("gfg").style.color = "#097969";
    }
     
    function mouseout() {
        document.getElementById("gfg").style.color = "white";
    }
</script>
</head>
<body>
    {% include 'nav_adjust.html' %}   

    <main role="main" class="container">   
      <br>
      <div class="jumbotron" style="margin-top:120px;">
        <a href="{% url 'all_courier' branch %}" class="btn btn-danger" style="float:right;">Go Back</a>
    
        {% if data.paid_amount == 0 %}
        <div class="header1">ADD PAYMENT DETAILS</div>
        <br>
        
        
    
        <table class="table-one">
          <tr>
            <td> <b>Patient Name : &nbsp;&nbsp;{{data.patient.name}}</b> </td>
            <td><b>Contact No. : &nbsp;&nbsp;{{data.patient.phone}}</b></td>
          </tr>
          <tr>
            <td><b> CasePaper No. : &nbsp;&nbsp;{{data.patient.case}}</b> </td>
            <td><b>Balance : &nbsp;&nbsp;Rs {{data.balance_amount}}</b></td>
          </tr>
          <tr>
            <td><b> Address : &nbsp;&nbsp;{{data.patient.address}}</b> </td>        
          </tr>
        </table>
        <hr>
    
        <form  action="{% url 'update_payment_courier' pk %}" method="post">
            {% csrf_token %}
    
            <label style="margin-left:250px;"><h3>Paid Amount  </h3> </label>
            <input type="number"  name="paid_amount" placeholder="Mention Paid Amount" value="{{data.paid_amount}}" style="margin-left:45px; height:40px; width:300px;">
            <br><br>
            <label style="margin-left:250px;"><h3>Transaction ID  </h3> </label>
            {% if data.transaction_id == None %}
            <input type="text"  name="transaction" placeholder="Mention Transaction ID" style="margin-left:30px; height:40px; width:300px;"   >
    
            {% else %}
            <input type="text"  name="transaction" placeholder="Mention Transaction ID" style="margin-left:30px; height:40px; width:300px;" value="{{data.transaction_id}}"  >
            {% endif %}
            <br><hr>
            <input type="submit"  style="font-size:15px; margin-left:300px; width:400px;"class="btn btn-danger btn-lg" value="Add " >
    
    
            
        </form>
    
        {% else %}
    
        <div class="header-past" style="text-decoration:underline;">PAYMENT DETAILS</div>
    
        <br>
    
        <p style="font-size:26px;"><b>Patient Name :</b> {{data.patient.name}}<p>
        <p style="font-size:26px;"><b>Patient Case Paper Number :</b> {{data.patient.case}}<p>
        <p style="font-size:26px;"><b>Contact Number :</b> {{data.patient.phone}}</p>
        <p style="font-size:26px;"><b>Address : </b>{{data.patient.address}}</p>
        <p style="font-size:26px;"><b>Courier Date :</b> {{data.date}}</p>
        <p style="font-size:26px;"><b>Date of Payment : </b>{{data.paid_on}}</p>
        <p style="font-size:26px;"><b>Paid Amount : </b>Rs {{data.paid_amount}}</p>
        <p style="font-size:26px;"><b>Balance Amount : Rs {{data.balance_amount}}</b></p>
        <p style="font-size:26px;"><b>Transaction ID :</b> {{data.transaction_id}}</p>
        <p style="font-size:26px;"><b>Collected by :</b> {{data.collected_by}}</p>
    
    
    
        {% endif %}
       
       
 
    
    

    </div>

    </main>
    <script>
        let menu = document.querySelector('#menu-btn');
    let navbar = document.querySelector('.header .navbar');
    
    menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');
    }
    
    window.onscroll = () =>{
        menu.classList.remove('fa-times');
        navbar.classList.remove('active');
    
    }
    </script>

    <script>
        // Function to format the date from yyyy-mm-dd to dd-mm-yyyy
        function formatDate(inputDate) {
            var parts = inputDate.split('-');
            return parts[2] + '-' + parts[1] + '-' + parts[0];
        }
    
        // Function to filter data based on date range
        function filterData() {
            // Get start and end dates from input fields
            var startDate = new Date(document.getElementById('startDate').value);
            var endDate = new Date(document.getElementById('endDate').value);
    
            // Select all rows with the class 'data-row'
            var rows = document.querySelectorAll('.data-row');
    
            // Iterate through each row and check the date
            rows.forEach(function (row) {
                var dateColumn = row.querySelector('.dateColumn');
    
                // Ensure the dateColumn is not null before proceeding
                if (dateColumn) {
                    var rowDate = new Date(formatDate(dateColumn.innerText));
    
                    // Check if the row date is within the selected range
                    if (rowDate >= startDate && rowDate <= endDate) {
                        // Show the row
                        row.style.display = '';
                    } else {
                        // Hide the row
                        row.style.display = 'none';
                    }
                }
            });
        }
    </script>
    

      


</body>
</html>
