{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Balance List-{{branch}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
   
    <link rel="stylesheet" href="{% static 'css/style_new_adjust.css' %}">
   

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<style>    
    .header-past {
        font-family: helvetica;
        color: #337ab7;
        font-size: 40px;
        text-align: center;
        width: 100%;
        text-shadow: 6px 6px 6px #c9c6c6;
        display: block;
        font-weight: bolder;
    } 

      
    
    
    @media (max-width: 768px){
      .header-past {
        font-family: helvetica;
        color: #337ab7;
        font-size: 30px;
        text-align: center;
        width: 100%;
        text-shadow: 6px 6px 6px #c9c6c6;
        display: block;
        font-weight: bolder;        
    }
    
     
    
}

    
    
    
    
   

</style>
</head>
<body>
    
    <main role="main" class="container">      
      <div class="jumbotron" style="margin-top:20px;">       
        <a href="{% url 'dashboard'  %}" class="btn btn-primary"><i class="fa fa-angle-double-left" style="font-size:16px"></i> Dashboard</a>
        {% comment %} <a href= "{% url 'balance_list_pdf' branch %}" class="btn btn-success"  style="margin-left:5px;"><i class="fa-solid fa-file-pdf"></i> Generate PDF</a> {% endcomment %}
         <hr>
        <div class="header-past">Balance List-{{branch}}</div>
        <br>
        <label for="appointmentType" style="font-size:18px; color:blue;"><b>Select Appointment Type </b></label>
    <select id="appointmentType" style="margin-left:10px; width:200px; height:30px; border:1px solid black; font-size:14px;" onchange="filterTable()">
      <option value="all">All</option>
      <option value="General">General</option>
      <option value="Repeat Medicine">Repeat Medicine</option>
      <option value="Courier Medicine">Courier Medicine</option>
      <!-- Add more appointment types as needed -->
    </select>
    
  <br>
  <hr>
  <div class="table-responsive">
  <table class="table" >    
    <thead>       
        <tr style="font-size:17px;">
        <th>COUNT</th>
          <th>PATIENT NAME</th>                              
          <th>PATIENT CASE PAPER</th>
          <th>CONTACT NUMBER</th>              
          <th>APPOINTMENT TYPE</th>
          <th>DATE</th>
          <th>BALANCE AMOUNT</th>                            
        </tr>
    </thead>
    {% for balance,appointment in zipped_list %}
    <tr >
        <td style="text-align:center; font-size:16px;">{{forloop.counter}} .</td>
        <td style="text-align:center;font-size:16px;">{{balance.patient.name}}</td>
        <td style="text-align:center;font-size:16px;">{{balance.patient.case}}</td>
        <td style="text-align:center;font-size:16px;"> {{balance.patient.phone}}</td>
        <td style="text-align:center;font-size:16px;">{{appointment.stat}}</td>
        <td  class="dateElement" style="text-align:center;font-size:16px;">{{appointment.date}}</td>
        <td style="text-align:center;font-size:16px;"><b>Rs {{balance.balance_amt}}</b></td>
       

    </tr>
    {% endfor %}
</table>
</div>



       
    </div>
    


      

    </main>

    <script>
        function filterTable() {
          var selectedType = document.getElementById("appointmentType").value;
          var table = document.querySelector(".table");
          var rows = table.querySelectorAll("tbody tr");
      
          rows.forEach(function (row) {
            var typeColumn = row.cells[4]; // Assuming the appointment type is in the 5th column
      
            if (selectedType === "all" || typeColumn.innerText === selectedType) {
              row.style.display = "";
            } else {
              row.style.display = "none";
            }
          });
        }
      
       
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get all elements with the specified class
            var dateElements = document.getElementsByClassName("dateElement");
        
            // Iterate through each element
            for (var i = 0; i < dateElements.length; i++) {
                // Get the current date value
                var currentDate = dateElements[i].innerText;
        
                // Split the date into parts
                var parts = currentDate.split("-");
        
                // Rearrange the parts into the DD-MM-YY format
                var formattedDate = parts[2] + "/" + parts[1] + "/" + parts[0].substring(2);
        
                // Update the element with the new format
                dateElements[i].innerText = formattedDate;
            }
        });
        </script>
      
      


</body>
</html>
